#{extends 'main.html' /}
#{set title:'Test client data publisher' /}

<h1>WebSocket client for Bridgemate Data Publisher</h1>

<pre>
  <div id="thread"></div>
</pre>

<div id="newMessage">
  <input type="text" id="message" placeholder="type a command"/>
  <input type="submit" value="send" id="send"/>
</div>

<div id="examples">
  <select name="example" onchange="if (this.value != '') {document.getElementById('message').value=this.value; document.getElementById('send').click()}">
    <option value="">choose a command..</option>
    <option value="getTournaments()">getTournaments()</option>
    <option value="getTournament(100)">getTournament(100)</option>
    <option value="getTournamentSessions(100)">getTournamentSessions(100)</option>
    <option value="getSession(100,10008)">getSession(100,10004)</option>
    <option value="getSessionMatches(100,10004)">getSessionMatches(100,10004)</option>
    <option value="subscribeToMatch(100,10201,102459)">subscribeToMatch(100,10201,102459)</option>
    <option value="unsubscribe()">unsubscribe()</option>
    <option value="getTournament(1)">getTournament(1)</option>
    <option value="subscribeToMatch(1,1,1)">subscribeToMatch(1,1,1)</option>
  </select> or
</div>

<script type="text/javascript">

    // Create a socket
    var socket = navigator.userAgent.indexOf('Firefox')>-1 ?
              new MozWebSocket('@@{FullBroadcaster.WebSocket.stream}') :
              new WebSocket('@@{FullBroadcaster.WebSocket.stream}');

    // Message received on the socket
    socket.onmessage = function(event) {
      $('#thread').append(formatJson(event.data)).append("<br/><br/>");
      document.getElementById("thread").scrollTop = document.getElementById("thread").scrollHeight;
    }
    
    $('#send').click(function(e) {
        var message = $('#message').val()
        $('#message').val('')
        socket.send(message)
    });
    
    $('#message').keypress(function(e) {
        if(e.charCode == 13 || e.keyCode == 13) {
            $('#send').click()
            e.preventDefault()
        }
    })
    
</script>