#{extends 'main.html' /}
#{set title:'Home' /}

<h2>JSON encoded Person stream, retrieved via (Moz)WebSocket (HTML5 standard)</h2>
<div id="socketOutput"></div>

<script type="text/javascript">
  var display = function(jsonData) {
    $('#socketOutput').append(jsonData + '<br/>');
  };

  // WebSocket not supported by Firefox (use MozWebSocket)
  // Note on Chrome: play 1.2.5 will support Chrome 16 & 17 (play 2 does already)
  var socket = navigator.userAgent.indexOf('Firefox')>-1 ?
          new MozWebSocket('@@{Broadcaster.WebSocket.stream}/match/101') :
          new WebSocket('@@{Broadcaster.WebSocket.stream}');

  socket.onmessage = function(event) {
    display(event.data);
  };

</script>