#{extends 'main.html' /}
#{set title:'Test client data publisher' /}

<h1>WebSocket client for Bridgemate Data Publisher</h1>

<div id="thread"></div>

<div id="newMessage">
  <input type="text" id="message" autocomplete="off"/>
  <input type="submit" value="send" id="send"/>
</div>

<script type="text/javascript">

    // Create a socket
    var socket = navigator.userAgent.indexOf('Firefox')>-1 ?
              new MozWebSocket('@@{FullBroadcaster.WebSocket.stream}') :
              new WebSocket('@@{FullBroadcaster.WebSocket.stream}');

    // Message received on the socket
    socket.onmessage = function(event) {
      $('#thread').append(event.data).append("<br/><br/>");
    }
    
    $('#send').click(function(e) {
        var message = $('#message').val()
        $('#message').val('')
        socket.send(message)
    });
    
    $('#message').keypress(function(e) {
        if(e.charCode == 13 || e.keyCode == 13) {
            $('#send').click()
            e.preventDefault()
        }
    })
    
</script>